<ul class="nav nav-pills">
	<li class="active">
		<a href="#citehome" data-toggle="tab">Home</a>
	</li>
    
	<%if can? :create, @author %>
		<li>
			<a href="#newauthor" data-toggle="tab">New Author</a>
		</li>
	<% end %>

	<% if can? :read, @author %>
		<li>
			<a href="#authorlist" data-toggle="tab"> List Authors</a>
		</li>
	<% end %>

	<% if can? :create, @citation %>
		<li>
			<a href="#newcite" data-toggle="tab">New Citation</a>
		</li>
	<% end %>

	<% if can? :read, @citation %>
		<li>
			<a href="#citelist" data-toggle="tab">List Citations</a>
		</li>
	<% end %>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="citehome">
		<p>
			Above you will find tabs for entering a new author into a
			database, creating news citation, and for listing all citations
			currently in a database.
		</p>
	</div>
	
	<% if can? :create, @author %>
		<div class="tab-pane" id="newauthor">
			<div class="well">
				<h3>Instructions
					<button type="button" data-toggle="collapse" data-target="#newauthorinfo" class="btn btn-info btn-mini">
						Collapse/Expand
					</button>
				</h3>

				<div id="newauthorinfo" class="collapse">
					<p>
						Enter a new author, first name and last, into the database.
						Once entered authors can be searched and cited on the
						<em>New Citation</em> page.
					</p>
				</div>
			</div>

			<fieldset>
				<legend>
					Add New Author
				</legend>

				<%= render :partial => 'author_form', :authors => @author %>

			</fieldset>
		</div>
	<% end %>

	<% if can? :read, @author %>
		<div class="tab-pane" id="authorlist">
			<div class="well">
				<h3>Instructions
					<button type="button" data-toggle="collapse" data-target="#authorlistinfo" class="btn btn-info btn-mini">
						Collapse/Expand
					</button>
				</h3>

				<div id="authorlistinfo" class="collapse">
					<p>
						Below is (or soon will be) a list of all the authors
						currently in the database. authors are listed
						alphabetically by author's last name.
					</p>
				</div>
			

			</div>
<%= render :partial => 'listauthor', :authors => @authorlist %>
		</div>
	<% end %>

	<% if can? :create, @citation %>
		<div class="tab-pane" id="newcite">
			<div class="well">
				<h3>Instructions
					<button type="button" data-toggle="collapse" data-target="#newciteinfo" class="btn btn-info btn-mini">
						Collapse/Expand
					</button>
				</h3>

				<div id="newciteinfo" class="collapse">
					<p>
						Enter a new citation. Please enter all necessary
						information. If the author you are citing is not listed
						please enter them into the database using the 
						<em>New Author</em> tab above.
					</p>

					<p>
						Acceptable formats of publications are; Journal, Books,
						Book Sections, Reports, Thesis, Websites, Personal
						Observations, and Unpublished Data. There is also an
						<em>other</em> option for sources not listed.
					</p>
				</div>
			</div>
			<fieldset>
				<legend>
					Add New Citation
				</legend>
				<%= render :partial => 'citations/form', :citation => @citation %>
			</fieldset>
		</div>
	<% end %>

	<% if can? :read, @citation %>
		<div class="tab-pane" id="citelist">
			<div class="well">
				<h3>Instructions
					<button type="button" data-toggle="collapse" data-target="#citelistinfo" class="btn btn-info btn-mini">
						Collapse/Expand
					</button>
				</h3>
				<div id="citelistinfo" class="collapse"
				</div>
			</div>
		
		</div>
<%= render :partial => 'listcitation', :authors => @citationlist %>
	<% end %>
</div>
</div>
