<ul class="nav nav-pills">
    <li class="active">
        <a href="#interhome" data-toggle="tab">Home</a>
    </li>
    <li>
        <a href="#intered" data-toggle="tab">Interactions Editor</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="interhome">
        <p>
            You are in the Interactions Home sub-pane
        </p>
    </div>
    <div class="tab-pane" id="intered">
        <p>
            You are in the Interactions Editor sub-pane
        </p>
    </div>
</div>