<ul class="nav nav-pills">
    <li>
        <a href="#nodehome" data-toggle="tab">Home</a>
    </li>
    <li class="active">
        <a href="#newnode" data-toggle="tab">New Node</a>
    </li>
    <li>
        <a href="#nonitis" data-toggle="tab">New non-Itis Node</a>
    </li>
    <li>
        <a href="#nodesearch" data-toggle="tab">Search Nodes</a>
    </li>
    <li>
        <a href="#nodelist" data-toggle="tab">List Nodes</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="nodehome">
        <p>
            Above you will find tabs for creating new nodes into the database.
            There are two different type of node which can be entered. Nodes
            which represent species already in the ITIS database and node which
            represent species which are not in the ITIS database.
        </p>
        <p>
            There are also tabs for searching for nodes which are already in the
            database and for listing all of the nodes which are in the database.
        </p>
    </div>
    <!-- Begin NEW NODE Pane -->
    <div class="tab-pane active" id="newnode">
        <div class="well">
            <h3>Instructions
            <button type="button" data-toggle="collapse" data-target="#newnodeinfo" class="btn btn-info btn-mini">
                Collapse/Expand
            </button></h3>
            <div id="newnodeinfo" class="collapse">
                <p>
                    First search for a node by its latin or common name.
                    Once you have selected an Itis node by latin or common name,
                    click "Add Node" to fill out the rest of the necessary
                    information.
                </p>
            </div>
        </div>

        <%= render :partial => 'node_form', :nodes => @node %>

    </div>
    <!-- End NEW NODE Pane -->
    <!-- Begin NEW Non-ITIS Pane -->
    <div class="tab-pane" id="nonitis">
        <div class="well">
            <h3>Instructions
            <button type="button" data-toggle="collapse" data-target="#nonitisinfo" class="btn btn-info btn-mini">
                Collapse/Expand
            </button></h3>
            <div id="nonitisinfo" class="collapse">
                <p>
                    Each node (i.e. species) that is not already in the ITIS
                    database receives a Non-ITIS id with which is identified
                    in our local database. Each Non-ITIS id must point to a
                    valid ITIS id at some higher (parent) taxonomic level.
                    If your new node's parent is already in ITIS, this will
                    be a simple three-step process:
                </p>
                <ol>
                    <li>
                        Use the "Parent Search" field to search the ITIS
                        database for the scientific name of the most
                        specific taxonomic name you can identify your new
                        node to.
                    </li>
                    <li>
                        Manually enter the taxonomic level and the Latin
                        name of your new node. Then Specify
                        <ol>
                            <li>
                                a representative "working name" for the nod
                            </li>
                            <li>
                                select its functional group
                            </li>
                            <li>
                                check "is assemblage" if the entry does not
                                represent a node that is identified to the
                                species-specific level.
                            </li>
                        </ol>
                    </li>
                </ol>
                <p>
                    If you have multiple taxonomic levels that are not
                    already in ITIS, you will need to repeat the above steps
                    several times, starting with the level of the parent
                    that is already in ITIS. From there, work your way down
                    by using the "Parent Search" field to search for the
                    either an ITIS node or Non-ITIS node that represents
                    the next parent.
                </p>
            </div>
        </div>
        <%= render :partial => 'non_itis_node_form', :non_itis => @non_itis_node %>

        <fieldset>
            <legend>
                Add New Non-ITIS Node
            </legend>

        </fieldset>

    </div>
    <!-- End NEW Non-ITIS Pane -->
    <!-- Begin Node Search Pane -->
    <div class="tab-pane" id="nodesearch">
        <div class="well">
            <h3>Instructions
            <button type="button" data-toggle="collapse" data-target="#nodesearchinfo" class="btn btn-info btn-mini">
                Collapse/Expand
            </button></h3>
            <div id="nodesearchinfo" class="collapse">
                <p>
                    Search for a node by its
                </p>
                <ul>
                    <li>
                        working name
                    </li>
                    <li>
                        ITIS latin name
                    </li>
                    <li>
                        ITIS common name
                    </li>
                    <li>
                        or ITIS id
                    </li>
                </ul>
            </div>
        </div>
        <form>
            <fieldset>
                <legend>
                    Search Nodes
                </legend>
                <div class="row">
                    <div class="span4 offset1">
                        <label>Working Name: </label>
                        <input type="text">
                        <label>ITIS Latin Name: </label>
                        <input type="text">
                    </div>
                    <div class="span4 offset1">
                        <label>ITIS Commen Name: </label>
                        <input type="text">
                        <label>ITIS ID: </label>
                        <input type="number">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-primary">
                        Search
                    </button>
                    <button type="reset" class="btn">
                        Reset
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- End Node Search Pane -->
    <!-- Begin Node List Pane -->
    <div class="tab-pane" id="nodelist">
        <div class="well">
            <h3>Instructions
            <button type="button" data-toggle="collapse" data-target="#nodelistinfo" class="btn btn-info btn-mini">
                Collapse/Expand
            </button></h3>
            <div id="nodelistinfo" class="collapse">
                <p>
                    Below is (or soon will be) a list of all the nodes
                    currently in the database listed alphabetically. Individual nodes
                    can be viewed by clicking the name of the species.
                </p>
            </div>
        </div>
    </div>
    <!-- End Node List Pane -->
</div>
