<legend>
	<h3>Listing Nodes </h3>
</legend>

<div class="well">
	<h3>Instructions
		<button type="button" data-toggle="collapse" 
			data-target="#nodelistinfo" class="btn btn-info btn-mini">
			Collapse/Expand
		</button>
	</h3>
	<div id="nodelistinfo" class="collapse">
		<p>
			Below is (or soon will be) a list of all the nodes
			currently in the database listed alphabetically. Individual nodes
			can be viewed by clicking the name of the species.
		</p>
	</div>
</div>

