<legend>
	<h3>
		Interactions Editor
	</h3>
</legend>
<div class="well">
	<h3>Instructions
		<button type="button" data-toggle="collapse" 
			data-target="#interactionsinfo" class="btn btn-info btn-mini">
			Collapse/Expand
		</button>
	</h3>
	
	<div id="interactionsinfo" class="collapse">
		<p>
			Edit or add interactions between species. 
		</p>
	</div>
</div>

<form>
	<fieldset>

			<div class="span4 offset1">
				<h4>Node/Stage 1</h4>
					<%= form_tag do %>
						<%= autocomplete_field_tag 'working_name', '',autocomplete_node_working_name_nodes_path %>
					<% end %>
					
					<label>Latin Name: </label>
					<input type="text">
			</div>
				
			<div class="span4 offset1">
				<h4>Node/Stage 2</h4>
					<%= form_tag do %>
						<%= autocomplete_field_tag 'working_name', '',autocomplete_node_working_name_nodes_path %>
					<% end %>
						
			<label>Latin Name: </label>
			<input type="text">
		</div>

			

		<div class="span3 offset3">
			<h4>Select interaction</h4>
				<select id = "interactions-list">
					<option value="trophic" name="trophic">trophic (1 eats 2)</option>
					<option value="competition" name="competition">competition (1 outcompetes 2)</option>
					<option value="facilitation" name="facilitation">facilitation (1 facilitates 2)</option>
					<option value="parasitic" name="parasitic">parasitic (1 is parasite of 2)</option>
				</select> 
			</div>

		
		<div class="form-actions span5 offset2">
			<button type="button" class="btn btn-inverse">
				Add Observation
			</button>
			
			<button type="button" class="btn btn-inverse">
				Add Interaction
			</button>
			
			<button type="reset" class="btn btn-inverse">
				Reset
			</button>
		</div> <!-- end form-actions -->
	</fieldset>
</form>
