<legend>
	<h3> Search Nodes </h3>
</legend>

<div class="well instructions">
	<h3>Instructions
		<button type="button" data-toggle="collapse" 
			data-target="#searchinfo" class="btn btn-info btn-mini">
			<span class="caret"></span><!-- Collapse/Expand -->
		</button>
	</h3>
	
	<div id="searchinfo" class="collapse">
		<p>
			Search for a node by itis
		</p>
		
		<ul>
			<li>working name</li>
			<li>ITIS latin name</li>
			<li>or ITIS id</li>
		</ul>
	</div>
</div>

	<div class="span4">
		<label>Working Name: </label>
		<%= form_tag do %>
		<%= autocomplete_field_tag 'search_node_working_name', '',autocomplete_node_working_name_nodes_path,
		:update_elements => {:functional_group_id => '#search_node_functional_group',:itis_id => '#search_node_itis_id',:is_assemblage => '#search_node_is_assemblage',:native_status => '#search_node_native_status',:id => '#search_node_id'}%>
		<% end %>
	</div>
		
	<div class="span4">
		<label>ITIS Latin Name: </label>
		<input type="text" title="Search for a node by latin/scientific name" id="search_node_latin_name">
		<img src="assets/ajax-loader.gif" id="search-latin-loading-indicator" style="display:none"/>
	</div>
		
	<div class="span4">
		<label>ITIS ID: </label>
		<input type="number" id="search_node_itis_id" title="Search for a node by its ITIS id number">
	</div>
	
	<div class="span4" hidden="true" disabled="disabled" id="search_node_common_name_field">
		<label>Common Name: </label>
		<input type="text" id="search_node_common_name">
		<img src="assets/ajax-loader.gif" id="search-common-loading-indicator" style="display:none"/>
	</div>		
	
	<div class="span4" hidden="true" disabled="disabled" id="search_node_functional_group_field">
		<label>Functional Group: </label>
		<input type="text" id="search_node_functional_group">
	</div>	
	
	<div class="span4" hidden="true" disabled="disabled" id="search_node_native_status_field">
		<label>Native Status: </label>
		<input type="text" id="search_node_native_status">
	</div>
	
	<div class="span4" hidden="true" disabled="disabled" id="search_node_is_assemblage_field">
		<label>Is Assemblage: </label>
		<input type="text" id="search_node_is_assemblage">
	</div>	
	
	<div class="span8" hidden="true" id="search_node_stage_tab_field">
		<ul class="nav nav-tabs" id="search_node_stage_tab">
		</ul>
		
		<div class="tab-content" id="search_node_tabContent">

		</div>
	</div>
	
	
	<div class="span9">
		<div class="form-actions">  
			<button class="btn btn-inverse" disabled id="search_node_add_stage">
			Add Stage
			</button>
			<button type="reset" class="btn btn-inverse" id="search_node_reset_button">

				Reset
			</button>
			<button class="btn btn-inverse"  disabled id="search_node_set_change">
				Set General Values
			</button>
		</div>
	</div>
	
<div id="search_node_add_new_stages" class="modal hide fade">
	<div class="modal-header">
		<button type="button" 
			class="close" data-dismiss="modal" 
			aria-hidden="true" id="new_stage_submit">&times;
		</button>
		<h3> Add New Stage </h3>
	</div>
	<div class="modal-body">
		<%= render :partial => 'newstage' %>
	</div>
	<div class="modal-footer">
		<button type="button" id="new_stage_modal_submit" class="btn btn-inverse">Add Stage
		</button>
	</div>
</div>
<div id="attach_citation" class="modal hide fade">
	<div class="modal-header">
		<button type="button" 
			class="close" data-dismiss="modal" 
			aria-hidden="true">&times;
		</button>
		<h3> Add New Citation </h3>
	</div>
	<div class="modal-body">
		<%= render :partial => 'attach_citation' %>
	</div>
	<div class="modal-footer">
		<button type="button" id="attach_citation_modal_submit" class="btn btn-inverse">Add Citation
		</button>
	</div>
</div>
<input type="hidden" id="search_node_id" value="">
<input type="hidden" id="search_node_citation_id" value="">	
