<legend>
	<h3> Search Nodes </h3>
</legend>

<div class="well">
	<h3>Instructions
		<button type="button" data-toggle="collapse" 
			data-target="#searchinfo" class="btn btn-info btn-mini">
			Collapse/Expand
		</button>
	</h3>
	
	<div id="searchinfo" class="collapse">
		<p>
			Search for a node by itis
		</p>
		
		<ul>
			<li>working name</li>
			<li>ITIS latin name</li>
			<li>or ITIS id</li>
		</ul>
	</div>
</div>

<form action="/search" method="get">
	<div class="span4">
		<label>Working Name: </label>
		<input type="text" name = "working">
	</div>
		
	<div class="span4">
		<label>ITIS Latin Name: </label>
		<input type="text">
	</div>
		
	<div class="span4">
		<label>ITIS ID: </label>
		<input type="number">
	</div>

	<div class="span9">
		<div class="form-actions">

			<button type="submit" class="btn btn-inverse offset 3">


				Search
			</button>
			    
			<button type="reset" class="btn btn-inverse">
				Reset
			</button>
		</div>
	</div>
</form>

