<ul class="nav nav-pills">
	<li class="active">
		<a href="#home" data-toggle="tab">Home</a>
	</li>
	<li>
		<a href="#listusers" data-toggle="tab">All Users</a>
	</li>
	<li>
		<a href="#waiting" data-toggle="tab">Awaiting Approval</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="home">
		<p> Here you can list all users and see users waiting approval </p>
	</div>
	
	<div class="tab-pane" id="listusers">
		<%= render 'listusers', :locals => {:users => @users}%>
	</div>
	
	<div class="tab-pane" id="waiting">

		<% @users= User.where(["project_id = ?",current_user.project_id] && ["approved = false"]).all %>
		<%= render 'listusers', :locals => {:users => @users} %>

	</div>
</div>
