<%= form_for(@stage_residency_time) do |f| %>
  <% if @stage_residency_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage_residency_time.errors.count, "error") %> prohibited this stage_residency_time from being saved:</h2>

      <ul>
      <% @stage_residency_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
