<div class="page-header span10 offset1">
	<% if user_signed_in? %>
    <h1>User Stats</h1>
  <% else %>
  	<h1>Project Stats</h1>
  <% end %>
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <!-- <div class="span2">
      Sidebar content
    </div> -->
    <div class="span12">
	    <div style="border: 1px solid #666">
		<%= high_chart("my_id4", @chart)  %>
		</div>
    </div>
  </div>
</div>

