<h1>Listing facilitation_interation_observations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facilitation_interation_observations.each do |facilitation_interation_observation| %>
  <tr>
    <td><%= link_to 'Show', facilitation_interation_observation %></td>
    <td><%= link_to 'Edit', edit_facilitation_interation_observation_path(facilitation_interation_observation) %></td>
    <td><%= link_to 'Destroy', facilitation_interation_observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facilitation interation observation', new_facilitation_interation_observation_path %>
