<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_facilitation_interation_observation_path(@facilitation_interation_observation) %> |
<%= link_to 'Back', facilitation_interation_observations_path %>
