<h1>Editing competition_interaction_observation</h1>

<%= render 'form' %>

<%= link_to 'Show', @competition_interaction_observation %> |
<%= link_to 'Back', competition_interaction_observations_path %>
