<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_competition_interaction_observation_path(@competition_interaction_observation) %> |
<%= link_to 'Back', competition_interaction_observations_path %>
