<p id="notice"><%= notice %></p>

<p>
  <b>Descriptor:</b>
  <%= @stage_habitat_descriptor.descriptor %>
</p>


<%= link_to 'Edit', edit_stage_habitat_descriptor_path(@stage_habitat_descriptor) %> |
<%= link_to 'Back', stage_habitat_descriptors_path %>
