body, table { 
	font: 10px "Trebuchet MS", sans-serif; 
}
.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
}
.ui-autocomplete-loading { 
	background: #cccccc url('ui-anim_basic_16x16.gif') right center no-repeat; 
}

.link {
/*	background-color: #99ffaa;*/
	background-color: #ccffcc;
	color:black;
	padding:2px 5px 2px 5px;	
	text-decoration: none;
}

.inputlike {
	width:320px;
	display:inline-block;
	padding:2px;
}

input,textarea {
	background-color: #99ffaa;
	border: 1px solid #ccccff;
	width: 250px;
}

.ui-dialog {
	box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.54);
	-moz-box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.54);
	-webkit-box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.54);
}
input.search {
	background-color: #ccffcc;
}

input,select {
	height: 1.8em;
}

select {
	line-height:250%;
}

.divpad {
	margin-bottom:8px;
	color:black;
	clear:both;
}
.veryshort {
	width:30px;
	margin-right:2px;
}
.short {
	width:60px;
	margin-right:2px;
}

.medium {
	width:120px;
	margin-right:2px;
}
label {
	display:block;
	float:left;
	width:175px;
	text-align:right;
	padding-top:0.2em;
	padding-right:0.5em;
	color:black;
}
label.button {
	display:inline;
	float:left;
	width:0px;
	text-align:left;
	padding-top:0em;
	padding-right:0em;
	color:black;
}
/*
.thead {
	font-weight:bold;
	font-size:1.3em;
	margin: 0px 4px 20px 0px;
}
*/
.sidediv {
  background:white;
  /* border:1px solid #cffccf;*/
  /* padding:8px; */
  min-width:300px;
	max-width:800px;
}
td.view {
	border-left:1px solid gray;
}
td.rt {
  text-align:right; 
  vertical-align:top;
	width:140px;
	color:black;
}


.infoinputdiv {
	color:black;
	clear:both;
}

.infoinputdiv input,
.infoinputdiv select,
.infoinputdiv textarea{
	color:black;
	background: #ffffcc;
	border-style:dotted;
}

.cited {
	display:inline;
	padding: 2px;
	margin: 1px;
	margin-right: 4px;
	background-color: #f0fff0;
	border: 1px solid #cffccf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div.cited {
	display:block;
	margin-bottom: 5px;
	padding:4px;
}

.citedvarsdiv {
	color:black;
	display:inline-block;
	width:400px;
	border-left: 1px solid black;
	padding:5px;
	margin-left: 20px;
}

.citedvarscontainer input,
.citedvarscontainer select,
.citedvarscontainer textarea{
	float:left;
}

.citedvarscontainer {
	padding:0px;
	margin:0px;
	display:inline-block;
	clear:both;
}	

.authorblock {
	min-height:30px;
}
