body{ font: 10px "Trebuchet MS", sans-serif; }
.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
}
.ui-autocomplete-loading { 
	background: #cccccc url('/css/ui-anim_basic_16x16.gif') right center no-repeat; 
}

.link {
/*	background-color: #99ffaa;*/
	background-color: #ccffcc;
	color:black;
	padding:2px 5px 2px 5px;	
	text-decoration: none;
}

input,textarea {
	background-color: #99ffaa;
	border: 1px solid #ccccff;
	width: 320px;
}
input.search {
	background-color: #ccffcc;
	border: 1px solid #ccccff;
	width: 320px;
}

.divpad {
	margin-bottom:8px;
	color:black;
}
.veryshort {
	width:30px;
	margin-right:2px;
}
.short {
	width:60px;
	margin-right:2px;
}
.degrees {
	width:50px;
	margin-right:2px;
}
.minutes {
	width:30px;
	margin-right:2px;
}
.seconds {
	width:30px;
	margin-right:2px;
}



.medium {
	width:120px;
	margin-right:2px;
}
label {
	display:block;
	float:left;
	width:135px;
	text-align:right;
	padding-top:0.2em;
	padding-right:0.5em;
	color:black;
}
label.button {
	display:inline;
	float:left;
	width:0px;
	text-align:left;
	padding-top:0em;
	padding-right:0em;
	color:black;
}
.thead {
	font-weight:bold;
	font-size:1.3em;
	margin: 0px 4px 20px 0px;
}
.cited {
	display:inline-block;
	padding: 3px;
	margin-bottom: 1px;
	background-color: #fcfffc;
	border: 1px solid #cffccf;
}
.sidediv {
  background:white;
  /* border:1px solid #cffccf;*/
  /* padding:8px; */
  min-width:300px;
	max-width:800px;
}
td.view {
	border-left:1px solid gray;
}
td.rt {
  text-align:right; 
  vertical-align:top;
	width:140px;
	color:black;
}
