ul.cssMenu ul{display:none}
ul.cssMenu li:hover>ul{display:block}
ul.cssMenu ul{position: absolute;left:-1px;top:98%;}
ul.cssMenu ul ul{position: absolute;left:98%;top:-2px;}
ul.cssMenu,ul.cssMenu ul {
margin:0px;
list-style:none;
padding:0px 1px 1px 0px;
border-width:0px;
border-style:solid;
}
ul.cssMenu li{
display:block;
margin:1px 0px 0px 1px;
}
ul.cssMenu a:active, ul.cssMenu a:focus {
outline-style:none;
}
ul.cssMenu a, ul.cssMenu li.dis a:hover {
display:block;
vertical-align:middle;
background-color:#99ffaa;
border-color:#33cc99;
border-width:1px;
border-style:solid;
text-align:left;
text-decoration:none;
padding:5px 14px 5px 14px;
color: #000000;
text-decoration:none;
cursor:pointer;
}
ul.cssMenu span{
overflow:hidden;
}
ul.cssMenu li {
float:left;
}
ul.cssMenu ul li {
float:none;
}
ul.cssMenu ul a {
text-align:left;
white-space:nowrap;
}
ul.cssMenu li:hover{
position:relative;
}
ul.cssMenu li a:hover{
position:relative;
background-color:#fcfcfc;
border-color:#99ffaa;
border-style:solid;
/*color: #FFFFFF;*/
text-decoration:none;
}
ul.cssMenu a:hover ul{display:block}
ul.cssMenu span{
display:block;
background-image:url(arrv_blue_2.gif);
background-position:right center;
background-repeat: no-repeat;
padding-right:8px;
}

