<!-- Begin: navigation -->
<ul class="nav nav-pills" id="GeneralTab">
    <li class="active"><a href="#homeg">Home</a></li>
	<li><a href="#fpass">Forgot Password</a></li>
    <li><a href="#navmap">Navigate Map</a></li>
    <li><a href="#signin">Signing In</a></li>
    <li><a href="#signup">Signing Up</a></li>
	<li><a href="#updateprof">Update Profile</a></li>
    <li><a href="#viewweb">View a Food Web</a></li>
</ul>
<!-- End: navigation -->
     
<!-- Begin: Content -->
<div class="tab-content">
    <div class="tab-pane active" id="homeg">
        <p>
           	Here you will find general help information unspecific to role functions.
        </p>  
    </div>    
    <div class="tab-pane" id="fpass">
        <p>
            If you have forgotten your password, navigate to the login page by clicking the "login" tab on the navigation bar at the top of the screen. You will see a "Forgot Password" link underneath the password field. Click on the link. Enter your e-mail address in the given field and click the "Send me reset password instructions" button. An e-mail will be sent to you through which you can reset your password.
        </p>
    </div>
    <div class="tab-pane" id="navmap">
        <p>
          You can zoom into and out of the map using the scroll bar on the lefthand side of the map window, by moving your cursor over the map and using the scroll wheel on your mouse if it has one one, or by double clicking on a spot into which you want to zoom.<br \><br \>

          To scroll up, down, left, or right on the map, click and hold a point with your mouse on the map. While holding that point, move your mouse in the desired direction to change your focal point.
        </p>
    </div>
    <div class="tab-pane" id="signin">
        <p>
            To sign in, click the "login" tab in the navigation bar at the top of the screen. The login screen will be rendered in the browser window. Enter your user name and password into their respective fields and click the "sign in" button.
        </p>        
    </div>
    <div class="tab-pane" id="signup">
        <p>
            Accounts for Food Web Builder are meant for those who are looking to either start their own food web project or for those who are looking to contribute to one. All visitors of the website are welcome to explore the active food webs that users have already been contributed to the website by clicking one of the designated regions on the home page.<br \><br \>

            To sign up, click on the "sign up" tab in the navigation bar at the top of the screen. The sign up screen will be rendered in the browser window. Enter your first name, last name, desired username, e-mail, and password in their respective fields.<br \><br \>

            If you are signing up for the user role, then you are signing up to contribute to an existing project. Choose the project from the drop down menu of the "project" field to which you are planning to contribute.<br \><br \>

            If you are signing up for the project leader role, then you are creating a new project. Choose the "New Project" option in the drop down menu of the "project" field.<br \><br \>

             Click the sign up button. You will receieve an e-mail confirmation within 24 hours whether or not your account has been approved.<br \><br \>

             Note: The moderator role is assigned to users by a project leader after the user has already signed up for that project leader's project. One does not sign up for a moderator role.
        </p>        
    </div>  
    <div class="tab-pane" id="updateprof">
      <p>
        If you would like to update your profile, click on the "Edit Account" tab in the navigation bar at the top of the screen. The edit account screen will be rendered in the browser window. All of your profile fields will be displayed. In the field(s) that you wish to change, delete the old information and enter the new. Click the "update" button at the bottom of the screen. Your profile is now updated.
      </p>
    </div>
    <div class="tab-pane" id="viewweb">
        <p>
          To view a food web, navigate to the home page by clicking the "Home" tab in the navigation bar at the top of the screen. The home page will render in the browser. Here you will see an interactive map from which you can choose a food web to explore.<br \><br \>

          Active food webs will be indicated by shaded polygons which you can click to access the information associated with that food web. Navigate the map until you find a food web which you would like to explore. Click the shaded polygon indicating that food web.
        </p>
    </div>
</div>
<!-- End: Content -->


 <script>
    $(function () {
		$('#GeneralTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
		})
    })
</script>