<ul class="nav nav-pills nav-stacked span3"> 
        <li class="active">
            <a href="#homep" data-toggle="tab">Home</a>            
        </li>  
        <li>
        	<a href="#newproj" data-toggle="tab">Open a New Project</a>
        </li>     
</ul>
<div class="tab-content">
    <div class="tab-pane active offset2" id="homep">
        <p>
           	A project leader has all of the capabilities of a moderator and is additionally able to 
           	create new projects.
        </p>  
    </div>
    <div class="tab-pane offset2" id="newproj">
    	<p>
    		This capability is under construction.
    	</p>
    </div>
</div>