

<h5>Food Web Builder is home to <br>
<b><%= Project.count%> </b> Projects<br>
<b><%= User.count%> </b> Users<br>
<b><%= Author.count%> </b> Authors<br>
<b><%= Citation.count%> </b> Citations<br> </h5>