<!-- Begin: navigation -->
<div id="proj-lead">
    <table style="width: 100%;">
        <tr style="vertical-align: top;">
            <td style="width: 33.3%;">
                <h3>A</h3>
                <li>
                    <a href="#" style="color:#0c79c2;" onclick="multiview('plead1', 'proj-lead');"><u>About the Project Leader Role</u></a>
                </li>
                <h3>O</h3>
	            <li>
                    <a href="#" style="color:#0c79c2;" onclick="multiview('plead2', 'proj-lead');"><u>Open a New Project</u></a>
                </li>
            </td>
        </tr>
    </table>
</div>

<!-- End: navigation -->

<!-- Begin: Content -->
<div class="tab-content">
    <div class="tab-pane active" id="plead1" style="display:none;">
        <h3>About the Project Leader Role</h3>
        <p>
           	A project leader has all of the capabilities of a moderator and is additionally able to 
           	create new projects.
        </p><br \>
        <a href="#" onclick="back('plead1', 'proj-lead');" class=" btn btn-inverse">Back</a>          
    </div>
    <div class="tab-pane" id="plead2" style="display:none;">
        <h3>Open a New Project</h3>
    	<p>
    		This capability is under construction.
    	</p><br \>
        <a href="#" onclick="back('plead2', 'proj-lead');" class=" btn btn-inverse">Back</a>
    </div>
</div>
<!-- End: Content -->

<script>
    $(function () {
		$('#ProjectLeaderTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
		})
    })
</script>