<!-- Begin: navigation -->
<div id="u">
    <table style="width: 100%;">
        <tr style="vertical-align: top;">
            <td style="width: 33.3%;">
            	<h3>A</h3>
    			<li>
    				<a href="#" style="color:#0c79c2;" onclick="multiview('user1', 'u');"><u>About the User Role</u></a>
    			</li>
    			<li>
    				<a href="#" style="color:#0c79c2;" onclick="multiview('user2', 'u');"><u>Add New Author</u></a>
    			</li>
    			<li>
    				<a href="#" style="color:#0c79c2;" onclick="multiview('user3', 'u');"><u>Add New Citation</u></a>
    			</li>
    			<li>
    				<a href="#" style="color:#0c79c2;" onclick="multiview('user4', 'u');"><u>Add New Taxon</u></a>
    			</li>
    			<li>
    				<a href="#" style="color:#0c79c2;" onclick="multiview('user5', 'u');"><u>Add Non-ITIS Taxon</u></a>
    			</li>
			</td>
		</tr>
	</table>
</div>

<!-- End: navigation -->

<!-- Begin: Content -->
<div class="tab-content">
    <div class="tab-pane active" id="user1" style="display:none;">
    	<h3>About the User Role</h3>
        <p>
           	The user role is meant for those who are only entering data into a food web project.
        </p><br \>
		<a href="#" onclick="back('user1', 'u');" class=" btn btn-inverse">Back</a>  
    </div>
    <div class="tab-pane" id="user2" style="display:none;">
    	<h3>Add New Author</h3>
    	<p>
    		To add an author of a citation, click on the "Data Entry" tab in the navigation bar at the top of the screen. When the new screen renders in the browser choose the "Citations" tab on the lefthand side of the screen. More options will appear. Choose the "New Author" option. Fill in the required fields and click the "Create Author" button.
    	</p><br \>
		<a href="#" onclick="back('user2', 'u');" class=" btn btn-inverse">Back</a>
    </div>
	<div class="tab-pane" id="user3" style="display:none;">
		<h3>Add New Citation</h3>
		<p>
			To add a new citation, click on the "Data Entry" tab in the navigation bar at the top of the screen. When the new screen renders in the browser choose the "Citations" tab on the lefthand side of the screen. More options will appear. Choose the "New Citation" option. Fill in the required fields and click the "Create Citation" button.
		</p><br \>
		<a href="#" onclick="back('user3', 'u');" class=" btn btn-inverse">Back</a>
	</div>
    <div class="tab-pane" id="user4" style="display:none;">
    	<h3>Add New Taxon</h3>
	    <p>
	    	To enter a new taxon into the food web, after you have signed in, click on the "Data Entry" tab in the navigation bar at the top of the screen. When the new page renders in the browser window, choose the "Nodes" tab on the lefthand side of the screen. More options will appear in the window. Choose the "New Node" option. Begin entering the ITIS name into the respective field. If the ITIS name you are entering is in the ITIS database, then a matching name should appear in a drop down box from the field that you can choose. If no such option appears, then you may have a non-ITIS entry. Otherwise, choose the name that matches your intended entry and continue to fill in the required fields. When you are finished, click the "Create Node" button. You have now created a new node in the food web.
	    </p><br \>
		<a href="#" onclick="back('user4', 'u');" class=" btn btn-inverse">Back</a>
	</div>
	<div class="tab-pane" id="user5" style="display:none;">
		<h3>Add Non-ITIS Taxon</h3>
		<p>
			To enter a non-ITIS taxon into the food web, after you have signed in, click on the "Data Entry" tab in the navigation bar at the top of the screen. When the new page renders in the browser window, choose the "Nodes" tab on the lefthand side of the screen. More options will appear in the window. Choose the "New non-ITIS Node" option. Fill in the required fields. When you are finished, click the "Create Non-ITIS" button. You have now created a new non-ITIS node in the food web.
		</p><br \>
		<a href="#" onclick="back('user5', 'u');" class=" btn btn-inverse">Back</a>
	</div>
</div>
<!-- End Content -->

<script>
    $(function () {
		$('#UserTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
		})
    })
</script>