<div class="page-header">
    <h1>About<br /></h1>
</div>

<div class="container">
	<div class="row">
		<div class="span2">
			<div class="tabbale">
				<ul class="nav nav-pills nav-stacked">
					<li class ='active'>
						<a href="#vision" data-toggle="tab"><b>Vision Statement</b></a>
					</li>
					
					<li>
						<a href="#hist" data-toggle="tab"><b>History</b></a>
					</li>
					
					<li>
						<a href="#status" data-toggle="tab"><b>Current Status</b></a>
					</li>
					
					<li>
						<a href="#dev" data-toggle="tab"><b>Development</b></a>
				</ul>
			</div>
		</div>
	
		<div class="span10">
			<div class="tab-content">
			
				<div class="tab-pane active span8" id="vision">
					<h5>
					This is a web-based application which assist scientists in documenting
					interactions among species. The interactions are based upon scientist
					observations or an academic citation. Once the data has been entered into
					the database, scientist can export the data as a .csv file for use with
					predictive modeling applications or visualization applications. There are
					many features added to emphasize on the ease of use for scientists, admins,
					and data entry specialists.
				</h5>
			</div>

			<div class="tab-pane span8" id="hist">
				<h5> 
				The current application was originated from the concepts developed by a team
				of experts from The University of California at Santa Cruz. Their original
				tool was designed for documenting the food web and interactions of kelp
				forests off of the California coastline. The current application preserves
				all of the functionality and utility of the original tool while adding the
				capacity to use it to create food webs for any ecosystem. In addition to the
				expansion of the tool to any ecosystem, it also adds enhanced visualization
				and analysis features.
				</h5>
			</div>
			
			<div class="tab-pane span8" id="status">
				<h5> 
					The current status of the application is still under development.
					The functionality that is currently implemented includes but is not
					limited to<br \>
					1. User account creation and deletion <br \>
					2. Projects can be created and deleted <br \>
					3. Project regions can be created <br \>
					4. Data-entry for authors <br \>
					5. Data-entry for nodes (eg. Species related information) <br \>
					6. Data-entry for citation (Excluding relation with authors) <br \>
					
				</h5>
			</div>
			
			<div class="tab-pane span8" id="dev">
				<h5> 
					The current development team is a group of students from The University of
					Massachusetts Boston.
				</h5>
			</div>
		</div>
	</div>
</div>
