<div class="page-header">
    <h1>About<br /></h1>
</div>

<div class="container">
	<div class="row">
		<div class="span2">
			<div class="tabbale">
				<ul class="nav nav-pills nav-stacked">
					<li class ='active'>
						<a href="#vision" data-toggle="tab"><b>Vision Statement</b></a>
					</li>
					
					<li>
						<a href="#hist" data-toggle="tab"><b>History</b></a>
					</li>
					
					<li>
						<a href="#status" data-toggle="tab"><b>Current Status</b></a>
					</li>
					
					<li>
						<a href="#dev" data-toggle="tab"><b>Development</b></a>
				</ul>
			</div>
		</div>
	
		<div class="span10">
			<div class="tab-content">
			
				<div class="tab-pane active span8" id="vision">
					<h5>
					This is an web-based application that assits scientists in documenting 
					interactions among species. The interactions are based upon scientist's
					observations or academic citations. Once data has been entered into
					the database, scientists can export it as a .csv file for use with
					predictive modeling or visualization applications. There are
					many features added to emphasize the ease of use for the scientist, administrator,
					and data entry specialist roles.
				</h5>
			</div>

			<div class="tab-pane span8" id="hist">
				<h5> 
					The current application was built on the work of a team from 
					The University of California at Santa Clara. Their original tool 
					was designed for documenting the food web and interactions of 
					kelp forests off of the California coastline. The current application
					preserves all of the functionality and utility of the original tool 
					while adding the capacity to use it to create food webs for any
					ecosystem. In addition to this, it also adds enhanced visualization and analysis tools.
				</h5>
			</div>
			
			<div class="tab-pane span8" id="status">
				<h5> 
					To be updated shortly
				</h5>
			</div>
			
			<div class="tab-pane span8" id="dev">
				<h5> 
					The current development team is a group of students from The University of
					Massachusetts Boston.
				</h5>
			</div>
		</div>
	</div>
</div>
