<div class="page-header span10 offset1">
    <h1>About<br /><small>What is Food Web Builder?</small></h1>
</div>

<div class="span10 offset1">
    <p>
        Food Web Builder is a web-based tool that gives you the power to build a food web information database based on documented observations and academic citations. In addition to building up the web of interactions Food Web Build allows for the create visualizations based on the data.
    </p>

    <p>
        Food Web Builder is built on the work of a team from The University of California at Santa Clara. Their original tool was designed for documenting the food web and interactions of the kelp forests off of the California coastline. Food Web Builder preserves all of the functionality and utility of the original tool while adding the capacity to use it to create food webs for any ecosystem. In addition to the openning up of the tool to any ecosystem Food Web Builder also adds enhanced visualization and analysis tools.
    </p>
    <p>
        Because it offers so many capabilities Food Web Builder is being developed with an emphesis on ease of use its intuitive layout will allow users to easily navigate and visualize food webs by region while accessing detailed biological information about the regions unique ecosystem.
    </p>
</div>