<div class="page-header">
    <h1>Export</h1>
</div>


    <p>
    The following export option will produce CSV files.
    </p>
   


<h3>
  <br \>
	<p>
	<%= link_to "List of all nodes", nodes_path(format: "csv")%> 
	</p>
  <br \>
  
<h4> 
  <p>
  <%= link_to "Back", :back %> 
  </p>
</a>