<div class="page-header span10 offset1">
    <h1>Help</h1>
</div>

<div class="tabbable tabs-left span8 offset1">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#navhome" data-toggle="tab">Home</a>
        </li>
        <li>
            <a href="#general" data-toggle="tab">General</a>            
        </li>
        <li>
            <a href="#admin" data-toggle="tab">Administrator</a>
        </li>
        <li>
            <a href="#projlead" data-toggle="tab">Project Leader</a>
        </li>
        <li>
            <a href="#user" data-toggle="tab">User</a>
        </li>
    </ul>
    <div class="tab-content"> 
    	<div class="tab-pane active offset3" id="navhome">
            <p>
                Click on one of the tabs on the left to navigate to your help topic.
            </p>
        </div>
       	<div class="tab-pane" id="general">
        	<%= render 'home/general' %>
       	</div>
       	<div class="tab-pane" id="admin">
        	<%= render 'home/administrator' %>
       	</div>
       	<div class="tab-pane" id="projlead">
        	<%= render 'home/project_leader' %>
       	</div>
       	<div class="tab-pane" id="user">
        	<%= render 'home/user' %>
       	</div>
	</div>       
</div>
