<div class="row">
    <div class="span10 offset1">
        <h1 class="text-center">Welcome to Food Web Builder</h1>
    </div>
</div>

<div class="row">
    <div class='span8 offset2'>
        <%= gmaps4rails(@json) %>
    </div>
</div>

