

<div class="row">
    <div class="span10 offset1">
        <h1 class="text-center">Welcome to Food Web Builder</h1>
    </div>
</div>

<!-- <div class="row">
    <div class='span8 offset2 well'>
        <img src="assets/worldmap.jpg" alt="World Map" title="Place Holder Map">
    </div>
</div> -->

<div class="row">
	<div class="span8 offset2 well">
		<img src="assets/worldmap.jpg" alt="World Map Place Holder" title="World Map" />
	</div>
</div>




