<div class="row">
	<div class='span6 offset4'>
		<img src="assets/logo.jpg" style="height: 150px;">
	</div>
</div>

	<!-- google map -->
	<div class="span 4 offset1">
      <%= gmaps({
       "polygons"    => { "data" => @polygons    , "options" => { "fillColor" => "#000" } }
     })
 %>

<!-- Some java script for the google map being clickable -->
<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">

Gmaps.map.callback = function() 
{
    console.log("sup");
    for (var i=0;i<Gmaps.map.polygons.length;i++){
    Gmaps.map.polygons[i].infowindow = new google.maps.InfoWindow
    ({
        content: 'you clicked on region ' + i
    });


function infowindow(num)
{
 return function (event) 
 {
        
        console.log("the click event fired");
        infowindow =  Gmaps.map.polygons[num].infowindow 
        infowindow.setPosition(event.latLng);
        infowindow.open(Gmaps.map.map);

};
}(i);
google.maps.event.addListener(Gmaps.map.polygons[i].serviceObject, "click", infowindow(i));
}
google.maps.event.addListener(Gmaps.map.serviceObject, "click", function(event) {
    alert(event.latLng);
  });
}

</script>
<!-- end javascript -->
<% end %>
<!-- end google map -->
	</div>

