<%= form_for(@stage_max_depth) do |f| %>
  <% if @stage_max_depth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage_max_depth.errors.count, "error") %> prohibited this stage_max_depth from being saved:</h2>

      <ul>
      <% @stage_max_depth.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
