<h1>Listing stage_prod_consum_ratios</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stage_prod_consum_ratios.each do |stage_prod_consum_ratio| %>
  <tr>
    <td><%= link_to 'Show', stage_prod_consum_ratio %></td>
    <td><%= link_to 'Edit', edit_stage_prod_consum_ratio_path(stage_prod_consum_ratio) %></td>
    <td><%= link_to 'Destroy', stage_prod_consum_ratio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stage prod consum ratio', new_stage_prod_consum_ratio_path %>
