<%= form_for(@paraasitic_interaction) do |f| %>
  <% if @paraasitic_interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paraasitic_interaction.errors.count, "error") %> prohibited this paraasitic_interaction from being saved:</h2>

      <ul>
      <% @paraasitic_interaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
