<h1>Listing paraasitic_interactions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paraasitic_interactions.each do |paraasitic_interaction| %>
  <tr>
    <td><%= link_to 'Show', paraasitic_interaction %></td>
    <td><%= link_to 'Edit', edit_paraasitic_interaction_path(paraasitic_interaction) %></td>
    <td><%= link_to 'Destroy', paraasitic_interaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paraasitic interaction', new_paraasitic_interaction_path %>
