.navbar-inner {
    background-color: #2c2c2c; /* fallback color, place your own */
    /* Gradients for modern browsers, replace as you see fit */
    background-image: -moz-linear-gradient(top, #2B88D9, #1E4DD9);
    background-image: -ms-linear-gradient(top, #2B88D9, #1E4DD9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2B88D9), to(#1E4DD9));
    background-image: -webkit-linear-gradient(top, #2B88D9, #1E4DD9);
    background-image: -o-linear-gradient(top, #2B88D9, #1E4DD9);
    background-image: linear-gradient(top, #2B88D9, #1E4DD9);
    background-repeat: repeat-x;
    /* IE8-9 gradient filter */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-shadow: 0px 0px 2px #27CBE6;
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3068D9;
}

.navbar .brand {
    display: block;
    float: left;
    padding: 10px 20px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 200;
    color: white;
    text-shadow: 0px 1px 0px #3068D9;
}

.navbar .brand:hover {
    text-decoration: none;
    text-shadow: 0px 0px 8px #27CBE6;
}

body {
    color: #262223;
}

html, body {
    height: 100%;
}

li > ol {
    list-style: lower-roman;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 40px;
}
#footer {
    background-color: #f5f5f5;
    border-top: 1px solid #c5c5c5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.tab-pane > .well {
    padding-top: 9px;
    padding-bottom: 9px;
}

.tab-pane > .well h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.spacer{
	padding-left: 10px;
}

.form-actions div {
	display:inline;
}
.edit-account-title{
	margin-left: 30px;
}

